[submodule "brightdata"]
	path = brightdata
	url = https://github.com/Hanato238/brightdata-mcp
[submodule "drawio-mcp"]
	path = drawio-mcp
	url = https://github.com/Hanato238/drawio-mcp
[submodule "markitdown"]
	path = markitdown
	url = https://github.com/Hanato238/markitdown
[submodule "mcp-official-servers"]
	path = mcp-official-servers
	url = https://github.com/Hanato238/servers
[submodule "perplexity-mcp"]
	path = perplexity-mcp
	url = https://github.com/Hanato238/modelcontextprotocol
[submodule "playwright-mcp"]
	path = playwright-mcp
	url = https://github.com/Hanato238/playwright-mcp
[submodule "serena"]
	path = serena
	url = https://github.com/Hanato238/serena
[submodule "openevidence-mcp"]
	path = openevidence-mcp
	url = https://github.com/Hanato238/openevidence-mcp
[submodule "context7"]
	path = context7
	url = https://github.com/upstash/context7
[submodule "desktop-commander"]
	path = desktop-commander
	url = https://github.com/wonderwhy-er/DesktopCommanderMCP
[submodule "Figma"]
	path = Figma
	url = https://github.com/figma/mcp-server-guide
[submodule "github"]
	path = github
	url = https://github.com/github/github-mcp-server
[submodule "google-maps-platform"]
	path = google-maps-platform
	url = https://github.com/googlemaps/platform-ai
[submodule "google-workspace-cli"]
	path = google-workspace-cli
	url = https://github.com/googleworkspace/cli
[submodule "hardening-agent"]
	path = hardening-agent
	url = https://github.com/GoogleCloudPlatform/gcp-hardening-toolkit
[submodule "huggingface"]
	path = huggingface
	url = https://github.com/huggingface/hf-mcp-server
[submodule "observability"]
	path = observability
	url = https://github.com/gemini-cli-extensions/observability
[submodule "youtube"]
	path = youtube
	url = https://github.com/JCodesMore/youtube-for-ai-agents
[submodule "gemini-cli-security"]
	path = gemini-cli-security
	url = https://github.com/gemini-cli-extensions/security
[submodule "gyaru"]
	path = gyaru
	url = https://github.com/yuys13/gemini-cli-extension-gyaru
